/* html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins" , sans-serif;
} */
/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

body{
  background-color: #FDFDFD !important;
}

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif !important;
  color: #383738;
}

/* Navbar */
.sidebar {
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
  width: 18rem;
  background: white !important;
  padding-left: 1.75rem;
  padding-top: 2rem;
  z-index: 99;
}

.sidebar .logo-details {
  margin-left: -0.625rem;
}

.sidebar ul {
  margin-top: 1.75rem;
  padding-left: 0 !important;
}

.sidebar ul hr {
  margin-left: -1.875rem !important;
  width: 15.8rem !important;
  margin-bottom: 1.5rem !important;
  opacity: 1;
  color: #E6EDFF !important;
  margin-top: 0px !important;
}

.sidebar ul li {
  list-style: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
}

.sidebar ul li .miniLine {
  position: absolute;
  width: 4px;
  height: 24px;
  background: #F45858;
  border-radius: 2px 0px 0px 2px;
  transform: rotate(-180deg);
  left: -1rem !important;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar ul li a span {
  margin-left: 1rem !important;
}

.sidebar .profile_content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar .profile_content .profile {
  position: relative;
  padding-left: 1.75rem;
  padding-top: 2rem;
  height: 6rem;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
}

.profile .profile_details img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 2rem;
}

.profile .profile_details .name {
  margin-left: 0.6rem;
  text-transform: uppercase;
}

.profile .profile_details .firstName {
  font-size: 1.2rem;
  font-weight: 400;
}

.profile .profile_details .lastName {
  font-size: 0.9rem;
  font-weight: 300;
}

.profile .profile_details button {
  color: white;
  background-color: #F45858;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.375rem;
  position: fixed;
  margin-left: 12rem !important;
}

.th-header {
  margin-left: 19.75rem;
  font-size: 1.6rem !important;
  font-weight: 400 !important;
  margin-top: 0.9rem !important;
  font-family: "Poppins" , sans-serif !important;
}

.th-explanation {
  margin-left: 19.75rem;
  color: #9E9EA5;
  font-size: 1rem !important;
  font-weight: 300 !important;
  margin-top: 0.4rem !important;
  margin-bottom: 0.9rem !important;
}

.top-header {
  background-color: white !important;
  position: sticky !important;
  top: 0px;
  z-index: 9;
}

/* Button */
.normalButton {
  color: white !important;
  background-color: #F45858 !important;
  text-align: center !important;
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  width: 5.2rem !important;
  border-radius: 0.25rem !important;
  border-color: #F45858 !important;
}

.normalButton i {
  color: white !important;
}

.cancelButton {
  color: #383738 !important;
  background-color: white!important;
  text-align: center !important;
  border-color: #EBE9F1;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  width: 5.2rem !important;
  border-radius: 0.25rem !important;
  border-color: #EBE9F1 !important;
}

.normalLargeButton {
  color: white !important;
  background-color: #F45858 !important;
  text-align: center !important;
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  width: 10rem !important;
  border-radius: 0.25rem !important;
  border-color: #F45858 !important;
  float: right;
}

.normalLargeButton i {
  color: white !important;
}

/* CardExpenseList */
.card_expenseList {
  border-color: #EBE9F1 !important;
  height: 37rem !important;
}

.web_content {
  height: 100vh;
  margin-left: 20.6rem;
  margin-right: 2rem;
  margin-top: 0.9rem !important;
}

.card_expenseList .sub-title {
  color: #9E9EA5;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  margin-top: 0.6rem !important;
  margin-bottom: 0.8rem !important;
}

.emptyState_head {
  font-size: 1rem;
  text-align: center;
  margin-top: 6rem;
}

.emptyState_sub {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.4rem;
  color: #9E9EA5;
}

/* ExpenseTextField */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9E9EA5 !important;
  font-weight: 300 !important;
}

.expanse_textField input {
  width: 25rem;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  border-color: #EBE9F1;
  height: 2rem !important;
}

.limitCount {
  color: #383738 !important;
  font-style: italic;
  font-size: 0.9rem !important;
  text-align: right;
  width: fit-content;
  align-self: flex-end !important;
  margin-top: 0.4rem !important;
}

.expanse_textField .normalButton {
  width: fit-content;
  height: fit-content;
  margin-left: 1rem;
}

.card_expenseList hr {
  color: #E6EDFF !important;
  opacity: 1 !important;
  margin-bottom: 1.5rem !important;
}

/* ExpenseListPage */
.deleteExpense {
  text-align: right;
  display:block;
  margin-top: 1.25rem;
}

/* ExpenseCheckBox */
.expense-cb {
  font-size: 0.9rem !important;
  font-family: "Poppins" , sans-serif !important;
  margin-bottom: 0.8rem !important;
}

.expense-cb .form-check-input:checked {
  border: none;
  background-color: #F45858 !important;
}

.padding-0 {
  padding-left: 0rem !important;
}

/* modal */
mark {
  background-color: white !important;
  color: #F45858;
  font-weight: 600;
}

.myModal .modal-header {
  border-bottom: none !important;
}

.myModal .modal-footer {
  border-top: none !important;
}

.modal-content {
  margin-top: 15rem !important;
}

.ModalTextPara1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 29.4rem;
}

/* InputField */
.remarkInformation {
  color: #9E9EA5;
  font-weight: 300;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
}

.inputTextField input {
  font-size: 0.9rem !important;
  border-color: #EBE9F1;
  height: 2rem !important;
  margin-bottom: 0.375rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textTitle {
  margin-bottom: 0.375rem !important;
  font-weight: 400;
}

.width232 {
  width: 14.5rem !important;
}

.width145 {
  width: 9.063rem !important;
  text-align: right !important;
}

/* Visa */
.addButtonPosition {
  margin-top: 1rem;
  margin-left: 51.55rem;
}

.iconButton {
  color: white !important;
  background-color: #F45858 !important;
  text-align: center !important;
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  border-radius: 0.25rem !important;
  margin-top: 0.375rem;
  border-color: #F45858 !important;
}

.iconButton i{
  color: white !important;
}

/* FooterPart */
.footerLine{
  color: #D7D5DB !important;
  opacity: 1 !important;
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
  width: 100% !important;
}

.footerButton{
  float: right;
  margin-left: 0.75rem !important;
}

/* SelectForm */
.width200 {
  width: 12.5rem !important;
}

.select-placeholder {
  color: #9E9EA5 !important;
}

select {
  border-color: #EBE9F1 !important ;
}

/* CourseMoreInfo */
.width448{
  width: 28rem !important;
}

.width616{
  width: 38.5rem !important;
}

.only1Line{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textContent {
  font-weight: 300;
  font-size: 0.9rem !important;
  margin-bottom: 0rem !important;
}

.paddingTop22{
  padding-top: 1.375rem !important;
}

.marginBT24{
  margin-bottom: 1.5rem !important;
}

.headerSize16{
  font-size: 1.2rem;
  font-weight: 500;
}

/* ListTable */
.table{
  border-color: #E6EDFF !important;
}

.paddingTop16{
  padding-top: 1rem !important;
}

/* CostTable */
.CostTable thead tr th{
  font-weight: 400 !important;
  font-size: 0.9rem !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  padding: 0.75rem !important;
}

.CostTable tbody tr td{
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  padding: 0.75rem !important;
}

.width128{
  width: 8rem !important;
}

.CostTable .alignRightTable{
  text-align: right !important;
  padding-right: 3.125rem !important;
}

.width192{
  width: 12rem !important;
}

/* CourseMoreInfo */
.width906{
  width: 67rem !important;
}

/* ProgressStatus */
.DoingStatus {
  color: white !important;
  background-color: #F45858 !important;
  text-align: center !important;
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  width: 2.1rem !important;
  border-radius: 0.25rem !important;
  border-color: #F45858 !important;
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
  height: 2.13rem !important;
}

.DoingStatus i {
  color: white !important;
  font-size: 1.2rem !important;
}

.DoneStatus {
  color: #F45858 !important;
  background-color: #F6D6D6 !important;
  text-align: center !important;
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  width: 2.1rem !important;
  border-radius: 0.25rem !important;
  border-color: #F45858 !important;
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
  height: 2.13rem !important;
}

.DoneStatus i {
  color: #F45858 !important;
  font-size: 1.2rem !important;
}

.width250 {
  width: 17rem !important;
}

.width168 {
  width: 10.5rem !important;
}

/* TextAreaField */
.width774{
  width: 52.6rem !important;
}

.marginBT16{
  margin-bottom: 1rem !important;
}

textarea {
  height: 100px !important;
  border-color: #EBE9F1 !important ;
  font-size: 0.9rem !important;
  padding-left: 0.5rem !important;
  max-height: auto !important;
  min-height: 50px !important;
  resize: both !important;
}

/* PrimaryTable */
.table{
  border-color: #E6EDFF !important;
}

thead{
  border-bottom-style: dotted !important;
}

.ListTable thead tr th{
  font-weight: 400 !important;
  font-size: 0.9rem !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-bottom-width: 0px !important;
}

thead tr th{
  font-weight: 400 !important;
  font-size: 0.9rem !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

tbody tr td{
  font-size: 0.9rem !important;
  font-weight: 300 !important;
}


/* InstitutionMoreInfo */
.seeMoreLessButton{
  color: #F45858 !important;
  text-align: center !important;
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem !important;
}

.seeMoreLessButton i{
  color: #F45858 !important;
  font-size: 1rem !important;
}

/* PaginationButton */

.page-link{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75rem !important;
}

.active .page-link{
  background-color: #F45858 !important;
  border-color: #F45858 !important;
  color: #E6EDFF !important;
}

.page-item a {
  color: #F45858
}

.page-item-disabled {
  color: #575757 !important;
}

/* MyProgressBar */
.doing{
  background-color: #F45858;
  width: 1.875rem !important;
  height: 1.875rem !important;
  text-align: center;
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  color: white;
  font-weight: 300;
}

.toDo{
  background-color: #EEEEEE;
  width: 1.875rem !important;
  height: 1.875rem !important;
  text-align: center;
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  color: #9E9EA5;
  font-weight: 300;
}

.toDoAndDoneTitleColor{
  color: #9E9EA5;
}

.done{
  background-color: #F6D6D6;
  width: 1.875rem !important;
  height: 1.875rem !important;
  text-align: center;
  border-radius: 0.25rem;
  padding-top: 0.125rem;
}

/* AddCourse */
.width381{
  width: 23.813rem !important;
}

.width418{
  width: 26.125rem !important;
}

.width145AlignLeft {
  width: 9.063rem !important;
  color: #383738 !important;
}

.width145AlignLeft input {
  width: 9.063rem !important;
  color: #383738 !important;
}

.currencyInput input{
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  text-align: right !important;
  font-size: 0.9rem !important;
  border-color: #EBE9F1;
  border-radius: 0.375rem !important;
  height: 2rem !important;
  margin-bottom: 0.375rem !important;
  border-width: 0.063rem;
  box-shadow: none;
  width: 9.063rem !important;
  color: #383738 !important;
  border-style: solid;
}

.width888{
  width: 55.52rem !important;
}

.addButtonPosition1 {
  margin-left: 27.7rem;
}

.currencyInput input[type=text]:disabled {
  background: #E9ECEF !important;
}

/* MyCompany */
.form-control {
  height: 2rem !important;
  border-color: #EBE9F1 !important;
}

input[type=file]::file-selector-button {
  background-color: #fff;
}

/* ProgressBar */
/* I made these changes in nprogress.css */
#nprogress .bar {
  height: 3px !important;
  background: red !important;
}
/* #nprogress .spinner-icon {
  width: 25px;
  height: 25px;
  border: red solid 3px !important;
} */

/* FeesTable */
.FeesTable thead tr th{
  font-size: 0.9rem !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  padding: 0.75rem !important;
}

.semiBoldWeight{
  font-weight: 500 !important;
}

.mediumWeight{
  font-weight: 400 !important;
}

.FeesTable tbody tr td{
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  padding: 0.75rem !important;
}

.FeesTable .alignRightTable{
  text-align: right !important;
  padding-right: 3.125rem !important;
}

.FeesTable thead tr th{
  font-weight: 400 !important;
  font-size: 0.9rem !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

/* StudentCourseListTable */
.StudentCourseListTable thead tr th{
  font-size: 0.9rem !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  padding: 0.75rem !important;
}

.StudentCourseListTable tbody tr td{
  font-size: 0.9rem !important;
  font-weight: 300 !important;
}

.StudentCourseListTable .alignRightTable{
  text-align: right !important;
  padding-right: 3.125rem !important;
}

.StudentCourseListTable thead tr th{
  font-weight: 400 !important;
  font-size: 0.9rem !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

/* newEstimation */
.width413{
  width: 25.85rem !important;
}

.addButtonPosition2 {
  margin-left: 53.5rem;
}

.width281{
  width: 17.59rem !important;
}

.width900{
  width: 58.7rem !important;
}